# This .gitconfig can be `include`d in your global configuration file, either
# first or last depending on which way you'd like to override preferences, via
#
# [include]
#     path = /path/to/devtools/git/.gitconfig

[alias]
    trail = log --oneline --decorate --stat --graph
    last = show --stat --patch

[core]
    autocrlf = input
    editor = vim

[init]
    defaultBranch = devel

[pull]
    ff = only
    rebase = false

[status]
    submoduleSummary = true

[submodule]
    recurse = true
