root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

[*.{v,vh,sv,svh}]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 4

[*.{cpp,hpp,c,h}]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[{Makefile,*.mk}]
indent_style = tab
indent_size = 4
