name: devtools
services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APT_PROXY: "http://host.docker.internal:3142"
    command: sleep infinity
    cap_add:
      - SYS_PTRACE
      - NET_ADMIN
    devices:
      - /dev/net/tun
    ports:
      - "50022:2222"
    security_opt:
      - seccomp:unconfined
    volumes:
      - devtools-persist:/persist
    user: developer

  devcontainer-gpu:
    extends:
      service: devcontainer
    profiles:
      - gpu
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

volumes:
  devtools-persist:
    name: devtools-persist
